body {
	background-color:;
}
header {
	padding: 1rem;
	background-color: darkgreen;
	color: white;
	position: relative;
	width: 100%;
}
#introduction {
	width: 100%;
	text-align: center;
}
#search-input {
	width: 80%;
	height: 1.7rem;
	border: none;
	text-indent: 1rem;
}

#search-btn {
	height:1.7rem;
	border: none;
	background-color: white;
	font-size: 1.2rem;
	padding-right: 0rem;
	margin-left:-2rem;
	position: absolute;
	margin-top: 0.1rem

}
#collapse-arrow {
	font-size:3rem;
	transition: transform 0.1s ease-in-out;
}
#results-number {
	background-color:lightgreen;
	position: relative;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	
}
#search-container {
	position: relative;
	top:-1rem;
	width: 100%;
	height: auto;
	display: none;
	
	
}

#results-list-container {
	position: relative;
	top: -1.5rem;
	transition: transform 0.5s linear;
	background-color: lightgreen;
	display:block;
	padding-bottom: 1rem;
	
}
#results-list-container li {
	margin-top: 1rem;
}
#full-word-block {
	position:relative;
	top:-1rem;
	display:none;
	transition: transform 0.5s linear;
	width: 100%;
	
}
#searched-word {
	text-align: center;
	font-weight: bold;
	font-size:2rem;
}
#word-facts-container {
	list-style-type: none;
	
}
#word-facts-container li {
	line-height: 2rem;
	font-weight:bold;
}
.facts {
	font-weight: normal;
}